<% # user infos:  rank, level by category, pseudo etc... %>
<%# <%= photo %>
<div class="d-flex container py-4 justify-content-center">
  <div class="d-flex flex-column align-items-center">
    <% if current_user.photo.key %>
      <div class= "avatar" style="background-image: url('<%= cl_image_path current_user.photo.key, height: 40, crop: :fit%>')"></div>
    <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/KenKaneki-42", class: "avatar", alt: "avatar" %>
    <% end %>
    <h3><%= current_user.pseudo %></h3>
  </div>

</div>
<div class="d-flex justify-content-center">
  <%= link_to "Want to do more?", actions_path, class: "btn btn-domore" %>
</div>



<div class="d-grid category-grid">
  <%# transport %>

  <%= link_to user_actions_path(category: "transport"), class:"icon-travel" do %>
    <div class="ko-progress-circle icon-wrapper position-relative" data-progress= "<%= ((@transport_score.to_f / @transport_next_level.to_f)*100).to_i %>">
      <% if current_user.transport_level == "beginner" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583434.png" style="width: 35px;" alt="">
      <% elsif current_user.transport_level == "intermediate" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583319.png" style="width: 35px;" alt="">
      <% elsif current_user.transport_level == "advanced" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583344.png" style="width: 35px;" alt="">
      <% end %>
        <div class="ko-circle">
            <div class="full ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
            </div>
            <div class="ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
                <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
            </div>
        </div>
        <div class="transport-progress-circle__overlay">
            <i class="fa-solid fa-plane fa-2x circle-icon"></i>
        </div>
    </div>
  <% end %>


  <%# food %>
  <%= link_to user_actions_path(category: "food"), class:"icon-food" do %>
    <div class="ko-progress-circle icon-wrapper position-relative" data-progress="<%= ((@food_score.to_f / @food_next_level.to_f)*100 ).to_i%>">
      <% if current_user.food_level == "beginner" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583434.png" style="width: 35px;" alt="">
      <% elsif current_user.food_level == "intermediate" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583319.png" style="width: 35px;" alt="">
      <% elsif current_user.food_level == "advanced" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583344.png" style="width: 35px;" alt="">
      <% end %>
        <div class="ko-circle">
            <div class="full ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
            </div>
            <div class="ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
                <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
            </div>
        </div>
        <div class="food-progress-circle__overlay">
            <i class="fa-solid fa-carrot fa-2x circle-icon"></i>
        </div>
    </div>
  <% end %>

  <%# digital %>
  <%= link_to user_actions_path(category: "digital"), class:"icon-tech" do %>
    <div class="ko-progress-circle icon-wrapper position-relative" data-progress="<%= ((@digital_score.to_f / @digital_next_level.to_f)*100).to_i %>">
      <% if current_user.numeric_level == "beginner" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583434.png" style="width: 35px;" alt="">
      <% elsif current_user.numeric_level == "intermediate" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583319.png" style="width: 35px;" alt="">
      <% elsif current_user.numeric_level == "advanced" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583344.png" style="width: 35px;" alt="">
      <% end %>
        <div class="ko-circle">
            <div class="full ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
            </div>
            <div class="ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
                <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
            </div>
        </div>
        <div class="digital-progress-circle__overlay">
            <i class="fa-solid fa-computer fa-2x circle-icon"></i>
        </div>
    </div>
  <% end %>

  <%# household %>
  <%= link_to user_actions_path(category: "household"), class:"icon-home" do %>
    <div class="ko-progress-circle icon-wrapper position-relative" data-progress="<%= ((@household_score.to_f / @household_next_level.to_f)*100).to_i %>">
      <% if current_user.home_level == "beginner" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583434.png" style="width: 35px;" alt="">
      <% elsif current_user.home_level == "intermediate" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583319.png" style="width: 35px;" alt="">
      <% elsif current_user.home_level == "advanced" %>
        <img class="dashboard-level-icon position-absolute" src="https://cdn-icons-png.flaticon.com/512/2583/2583344.png" style="width: 35px;" alt="">
      <% end %>
      <div class="ko-circle">
        <div class="full ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
        </div>
        <div class="ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
            <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
        </div>
      </div>
      <div class="household-progress-circle__overlay">
          <i class="fa-solid fa-house fa-2x circle-icon"></i>
      </div>
    </div>
  <% end %>


</div>

<% ### actions by category %>
<div class="d-flex justify-content-between align-items-center container-dashboard ">
  <h3 style="font-size:18px;">My challenges</h3>
  <%= link_to "See all", user_actions_path, class: "btn-dash" %>
</div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<% unless @last_actions.empty? %>
  <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-ride="carousel">
    <div class="carousel-inner col-10 mx-auto">
      <div class="carousel-item active">
        <%= link_to user_action_path(@last_actions.first) do %>
          <div class="card-category-card"   style="width: 70vw;">
            <div class= "card-img p-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
              url('<%= cl_image_path @last_actions.first.action.photo.key, height: 300, crop: :fit%>')">

              <% if @last_actions.first.category == 'transport' %>
                <div class="card-icon" style="background-color: rgb(216, 176, 77);">
                  <i class="fa-solid fa-plane fa-1x circle-icon"></i>
                </div>
              <% elsif @last_actions.first.category == 'food' %>
                <div class="card-icon" style="background-color: rgb(164, 198, 99);">
                  <i class="fa-solid fa-carrot fa-1x circle-icon"></i>
                </div>
              <% elsif @last_actions.first.category == 'numeric' %>
                <div class="card-icon" style="background-color: rgb(125, 156, 183);">
                  <i class="fa-solid fa-computer fa-1x circle-icon"></i>
                </div>
              <% elsif @last_actions.first.category == 'household' %>
                <div class="card-icon" style="background-color: rgb(189, 96, 72);">
                  <i class="fa-solid fa-house fa-1x circle-icon"></i>
                </div>
              <% end %>
              <div class="card-category-footer d-flex justify-content-between">
                <div class="d-flex justify-content-evenly card-category-co2">
                  <% if @last_actions.first.category == 'transport' %>
                    <i class="fa-solid fa-leaf pr-2" style="color: rgb(216, 176, 77);"></i>
                    <p style="color: rgb(216, 176, 77);"><%= @last_actions.first.action.carbongain.div(100_000) %> kgCO2e</p>
                  <% elsif @last_actions.first.category == 'food' %>
                    <i class="fa-solid fa-leaf pr-2" style="color: rgb(164, 198, 99);"></i>
                    <p style="color: rgb(164, 198, 99);"><%= @last_actions.first.action.carbongain.div(100_000) %> kgCO2e</p>
                  <% elsif @last_actions.first.category == 'numeric' %>
                    <i class="fa-solid fa-leaf pr-2" style="color: rgb(125, 156, 183);"></i>
                    <p style="color: rgb(125, 156, 183);"><%= @last_actions.first.action.carbongain.div(100_000) %> kgCO2e</p>
                  <% elsif @last_actions.first.category == 'household' %>
                    <i class="fa-solid fa-leaf pr-2" style="color: rgb(189, 96, 72);"></i>
                    <p style="color: rgb(189, 96, 72);"><%= @last_actions.first.action.carbongain.div(100_000) %> kgCO2e</p>
                  <% end %>
                </div>
              </div>
            </div>

            <% if @last_actions.first.category == 'transport' %>
              <div class="card-bar-separator mb-1" style="background-color: rgb(216, 176, 77);"></div>
            <% elsif @last_actions.first.category == 'food' %>
              <div class="card-bar-separator mb-1" style="background-color: rgb(164, 198, 99);"></div>
            <% elsif @last_actions.first.category == 'numeric' %>
              <div class="card-bar-separator mb-1" style="background-color: rgb(125, 156, 183);"></div>
            <% elsif @last_actions.first.category == 'household' %>
              <div class="card-bar-separator mb-1" style="background-color: rgb(189, 96, 72);"></div>
            <% end %>
            <div class="container">
              <% if @last_actions.first.title.length > 30 %>
                <h1 style="font-size: small; max-width: 80%;"><strong><%= @last_actions.first.title %></strong></h1>
              <% else %>
                <h1><strong><%= @last_actions.first.title %></strong></h1>
              <% end %>
              <% if @last_actions.first.category == 'transport' %>
                <h4 style="color: rgb(216, 176, 77);"><%= @last_actions.first.action.level %></h4>
              <% elsif @last_actions.first.category == 'food' %>
                <h4 style="color: rgb(164, 198, 99);"><%= @last_actions.first.action.level %></h4>
              <% elsif @last_actions.first.category == 'numeric' %>
                <h4 style="color: rgb(125, 156, 183);"><%= @last_actions.first.action.level %></h4>
              <% elsif @last_actions.first.category == 'household' %>
                <h4 style="color: rgb(189, 96, 72);"><%= @last_actions.first.action.level %></h4>
              <% end %>
              <div>
                <% if @last_actions.first.action.description.length > 150 %>
                  <p style="font-size: small; color: rgb(102, 102, 102);"><%= @last_actions.first.action.description[0..150] %> ...</p>
                <% else %>
                  <p style="font-size: small; color: rgb(102, 102, 102);"><%= @last_actions.first.action.description %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% @last_actions[1..].each do |user_action|%>
        <div class="carousel-item">
          <%= link_to user_action_path(user_action) do %>
            <div class="card-category-card"   style="width: 70vw;"  >
              <div class= "card-img p-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path user_action.action.photo.key, height: 300, crop: :fit%>')">
                <% if user_action.category == 'transport' %>
                  <div class="card-icon" style="background-color: rgb(216, 176, 77);">
                    <i class="fa-solid fa-plane fa-1x circle-icon"></i>
                  </div>
                <% elsif user_action.category == 'food' %>
                  <div class="card-icon" style="background-color: rgb(164, 198, 99);">
                    <i class="fa-solid fa-carrot fa-1x circle-icon"></i>
                  </div>
                <% elsif user_action.category == 'numeric' %>
                  <div class="card-icon" style="background-color: rgb(125, 156, 183);">
                    <i class="fa-solid fa-computer fa-1x circle-icon"></i>
                  </div>
                <% elsif user_action.category == 'household' %>
                  <div class="card-icon" style="background-color: rgb(189, 96, 72);">
                    <i class="fa-solid fa-house fa-1x circle-icon"></i>
                  </div>
                <% end %>
                <div class="card-category-footer d-flex justify-content-between">
                  <div class="d-flex justify-content-evenly card-category-co2">
                    <% if user_action.category == 'transport' %>
                      <i class="fa-solid fa-leaf pr-2" style="color: rgb(216, 176, 77);"></i>
                      <p style="color: rgb(216, 176, 77);"><%= user_action.action.carbongain.div(100_000) %> kgCO2e</p>
                    <% elsif user_action.category == 'food' %>
                      <i class="fa-solid fa-leaf pr-2" style="color: rgb(164, 198, 99);"></i>
                      <p style="color: rgb(164, 198, 99);"><%= user_action.action.carbongain.div(100_000) %> kgCO2e</p>
                    <% elsif user_action.category == 'numeric' %>
                      <i class="fa-solid fa-leaf pr-2" style="color: rgb(125, 156, 183);"></i>
                      <p style="color: rgb(125, 156, 183);"><%= user_action.action.carbongain.div(100_000) %> kgCO2e</p>
                    <% elsif user_action.category == 'household' %>
                      <i class="fa-solid fa-leaf pr-2" style="color: rgb(189, 96, 72);"></i>
                      <p style="color: rgb(189, 96, 72);"><%= user_action.action.carbongain.div(100_000) %> kgCO2e</p>
                    <% end %>
                  </div>
                </div>
              </div>

              <% if user_action.category == 'transport' %>
                <div class="card-bar-separator mb-1" style="background-color: rgb(216, 176, 77);"></div>
              <% elsif user_action.category == 'food' %>
                <div class="card-bar-separator mb-1" style="background-color: rgb(164, 198, 99);"></div>
              <% elsif user_action.category == 'numeric' %>
                <div class="card-bar-separator mb-1" style="background-color: rgb(125, 156, 183);"></div>
              <% elsif user_action.category == 'household' %>
                <div class="card-bar-separator mb-1" style="background-color: rgb(189, 96, 72);"></div>
              <% end %>
              <div class="container">
                <% if user_action.title.length > 30 %>
                  <h1 style="font-size: small; max-width: 80%;"><strong><%= user_action.title %></strong></h1>
                <% else %>
                  <h1><strong><%= user_action.title %></strong></h1>
                <% end %>
                <% if user_action.category == 'transport' %>
                  <h4 style="color: rgb(216, 176, 77);"><%= user_action.action.level %></h4>
                <% elsif user_action.category == 'food' %>
                  <h4 style="color: rgb(164, 198, 99);"><%= user_action.action.level %></h4>
                <% elsif user_action.category == 'numeric' %>
                  <h4 style="color: rgb(125, 156, 183);"><%= user_action.action.level %></h4>
                <% elsif user_action.category == 'household' %>
                  <h4 style="color: rgb(189, 96, 72);"><%= user_action.action.level %></h4>
                <% end %>
                <div>
                  <% if user_action.action.description.length > 150 %>
                    <p style="font-size: small; color: rgb(102, 102, 102);"><%= user_action.action.description[0..150] %> ...</p>
                  <% else %>
                    <p style="font-size: small; color: rgb(102, 102, 102);"><%= user_action.action.description %></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% else %>
  <div class="d-flex justify-content-center w-100 mt-5">
    <%= link_to "No action yet, add some", actions_path, class: "btn btn-done" %>
  </div>
<% end %>
