<div class="d-flex container py-4 justify-content-center">
  <div class="d-flex flex-column align-items-center">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/KenKaneki-42", class: "avatar", alt: "avatar" %>
    <h3><%= current_user.pseudo %></h3>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "Want to do more?", actions_path, class: "btn btn-domore" %>
</div>

 <div class="d-flex justify-content-evenly py-4 align-items-center">
  <div class="icon-wrapper">
    <%= link_to user_actions_path(category: "transport"), class:"icon-travel" do %>
      <i class="fa-solid fa-plane fa-1x circle-icon"></i>
    <% end %>
  </div>
  <div class="icon-wrapper">
    <%= link_to user_actions_path(category: "food"), class:"icon-food" do %>
      <i class="fa-solid fa-carrot fa-1x circle-icon"></i>
    <% end %>
  </div>
  <div class="icon-wrapper">
    <%= link_to user_actions_path(category: "digital"), class:"icon-tech" do %>
      <i class="fa-solid fa-computer fa-1x circle-icon"></i>
    <% end %>
  </div>
  <div class="icon-wrapper">
    <%= link_to user_actions_path(category: "household"), class:"icon-home" do %>
      <i class="fa-solid fa-house fa-1x circle-icon"></i>
    <% end %>
  </div>
</div>

<hr class="w-100">

<!-- to fix card-->
<div class="container mt-3">
  <% @user_actions.each do |user_action|%>
    <div class="card-category-card mb-4" style="height: 30vh">
      <%= link_to user_action_path(user_action) do %>
        <div class= "card-img p-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path user_action.action.photo.key, height: 300, crop: :fit%>')">
        <% if user_action.category == 'transport' %>
          <div class="card-icon" style="background-color: rgb(216, 176, 77);">
            <i class="fa-solid fa-plane fa-1x circle-icon"></i>
          </div>
        <% elsif user_action.category == 'food' %>
          <div class="card-icon" style="background-color: rgb(164, 198, 99);">
            <i class="fa-solid fa-carrot fa-1x circle-icon"></i>
          </div>
        <% elsif user_action.category == 'digital' %>
          <div class="card-icon" style="background-color: rgb(125, 156, 183);">
            <i class="fa-solid fa-computer fa-1x circle-icon"></i>
          </div>
        <% elsif user_action.category == 'household' %>
          <div class="card-icon" style="background-color: rgb(189, 96, 72);">
            <i class="fa-solid fa-house fa-1x circle-icon"></i>
          </div>
        <% end %>
          <div class="card-category-footer d-flex justify-content-between">

            <div class="d-flex justify-content-evenly card-category-co2">

            <% if user_action.category == 'transport' %>
              <i class="fa-solid fa-leaf pr-2" style="color: rgb(216, 176, 77);"></i>
              <p style="color: rgb(216, 176, 77);"><%= user_action.action.carbongain.div(100_000) %> kgCO2e</p>
            <% elsif user_action.category == 'food' %>
              <i class="fa-solid fa-leaf pr-2" style="color: rgb(164, 198, 99);"></i>
              <p style="color: rgb(164, 198, 99);"><%= user_action.action.carbongain.div(100_000) %> kgCO2e</p>
            <% elsif user_action.category == 'digital' %>
              <i class="fa-solid fa-leaf pr-2" style="color: rgb(125, 156, 183);"></i>
              <p style="color: rgb(125, 156, 183);"><%= user_action.action.carbongain.div(100_000) %> kgCO2e</p>
            <% elsif user_action.category == 'household' %>
              <i class="fa-solid fa-leaf pr-2" style="color: rgb(189, 96, 72);"></i>
              <p style="color: rgb(189, 96, 72);"><%= user_action.action.carbongain.div(100_000) %> kgCO2e</p>
            <% end %>
            </div>
          </div>
        </div>
        <div class="card-bar-separator mb-1"></div>

        <div class="container">

          <% if user_action.title.length > 40 %>
            <h1 style="font-size: small;"><strong><%= user_action.title %></strong></h1>
          <% else %>
            <h1><strong><%= user_action.title %></strong></h1>
          <% end %>
        <% if user_action.category == 'transport' %>
          <h4 style="color: rgb(216, 176, 77);"><%= user_action.action.occurences %> times / week</h4>
        <% elsif user_action.category == 'food' %>
          <h4 style="color: rgb(164, 198, 99);"><%= user_action.action.occurences %> times / week</h4>
        <% elsif user_action.category == 'digital' %>
          <h4 style="color: rgb(125, 156, 183);"><%= user_action.action.occurences %> times / week</h4>
        <% elsif user_action.category == 'household' %>
          <h4 style="color: rgb(189, 96, 72);"><%= user_action.action.occurences %> times / week</h4>
        <% end %>
          <div>
            <% if user_action.action.description.length > 150 %>
              <p style="font-size: small; color: rgb(102, 102, 102);"><%= user_action.action.description[0..150] %> ...</p>
            <% else %>
              <p style="font-size: small; color: rgb(102, 102, 102);"><%= user_action.action.description %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
