<p><%= @transport_actions.status  %> <%= @transport_actions.action_id  %></p>
<hr>
<p><%= @food_actions.status  %> <%= @food_actions.action_id  %></p>
<hr>
<p><%= @digital_actions.status  %> <%= @digital_actions.action_id  %></p>
<hr>
<p><%= @household_actions.status  %> <%= @household_actions.action_id  %></p>
