<div class="container">

  <div class="col-8 mx-auto">
    <h3 style="text-align: center;">for now your level in this <br> category is <strong><%= current_user.rank_category %></strong></h3>
    <p style="text-align: center; font-size: x-small; line-height: 2.7; margin-bottom: 0;">Let's select 2 actions that you want <br> to realize by clicking on em just below </p>
  </div>


  <div class="d-flex justify-content-evenly py-4 align-items-center">
    <div class="icon-wrapper">
      <%= link_to actions_path(category: "transport"), class:"icon-travel" do %>
        <i class="fa-solid fa-plane fa-2x circle-icon"></i>
      <% end %>
    </div>
    <div class="icon-wrapper">
      <%= link_to actions_path(category: "food"), class:"icon-food" do %>
        <i class="fa-solid fa-carrot fa-2x circle-icon"></i>
      <% end %>
    </div>
    <div class="icon-wrapper">
      <%= link_to actions_path(category: "digital"), class:"icon-tech" do %>
        <i class="fa-solid fa-computer fa-2x circle-icon"></i>
      <% end %>
    </div>
    <div class="icon-wrapper">
      <%= link_to actions_path(category: "household"), class:"icon-home" do %>
        <i class="fa-solid fa-house fa-2x circle-icon"></i>
      <% end %>
    </div>
  </div>


<hr class="w-100 mb-4">

  <% @actions.each do |action|%>
    <div class="card-category-card mb-4" style="height: 27vh">
      <%= link_to action_path(action) do %>
        <div class= "card-img p-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url('<%= cl_image_path action.photo.key, height: 300, crop: :fit%>')">
          <div class="card-category-footer d-flex justify-content-between">
            <div class="d-flex justify-content-evenly card-category-co2">
              <i class="fa-solid fa-leaf"></i>
              <p class=""><%= action.carbongain.div(100_000) %> <p>kgCO2e</p></p>
            </div>
            <div class="card-category-level d-flex justify-content-around isDisabled">
              <p class="isDisabled"><%= action.level %></p>
            </div>
          </div>
        </div>
          <div class="card-bar-separator mb-1"></div>
        <div class="container position-relative pt-4">
          <div class="card-icon">
            <i class="fa-solid fa-carrot fa-2x circle-icon"></i>
          </div>
          <h1><strong><%= action.title %></strong></h1> <!-- action title-->
          <h4 style="color: rgb(216, 176, 77);"><%= action.occurences %> times / week</h4><!-- action occurences-->
          <div class="">
            <% if action.description.length > 150 %>
              <p style="font-size: small; color: rgb(102, 102, 102);"><%= action.description[0..150] %> ...</p>
            <% else %>
              <p style="font-size: small; color: rgb(102, 102, 102);"><%= action.description %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
