<div class="container">

  <div class="col-8 mx-auto">
    <% if @actions.first %>
      <% case @actions.first.category  %>
      <% when "transport" %>
        <h3 style="text-align: center;">Your level in <br> transport category is <br> <strong><%= current_user.transport_level %></strong></h3>
      <% when "food" %>
        <h3 style="text-align: center;">Your level in <br> food category is <br> <strong><%= current_user.food_level %></strong></h3>
      <% when "digital" %>
        <h3 style="text-align: center;">Your level in <br> digital category is <br> <strong><%= current_user.digital_level %></strong></h3>
      <% when "household" %>
        <h3 style="text-align: center;">Your level in <br> household category is <br> <strong><%= current_user.household_level %></strong></h3>
      <% end %>
    <% end %>
    <p style="text-align: center; font-size: x-small; line-height: 2.7; margin-bottom: 0;">Let's select 2 actions that you want <br> to realize by clicking on them just below </p>
  </div>


  <div class="d-flex justify-content-evenly py-4 align-items-center">
<%# transport %>

  <% if  params[:category] == "transport"%>
    <div class="active-icon-wrapper-idx">
     <i class="fa-solid fa-plane fa-2x circle-icon icon-travel"></i>
    </div>
  <% else %>
    <div class="icon-wrapper-idx d-flex align-items-center">
      <%= link_to actions_path(category: "transport"), class:"icon-travel" do %>
        <i class="fa-solid fa-plane fa-1x circle-icon"></i>
      <% end %>
    </div>
  <% end %>


<%# food %>

  <% if  params[:category] == "food"%>
    <div class="active-icon-wrapper-idx">
       <i class="fa-solid fa-carrot fa-2x circle-icon icon-food"></i>
    </div>
  <% else %>
    <div class="icon-wrapper-idx d-flex align-items-center">
      <%= link_to actions_path(category: "food"), class:"icon-food " do %>
        <i class="fa-solid fa-carrot fa-1x circle-icon"></i>
      <% end %>
    </div>
  <% end %>


<%# digital %>

  <% if  params[:category] == "digital"%>
    <div class="active-icon-wrapper-idx">
       <i class="fa-solid fa-computer fa-2x circle-icon icon-tech"></i>
    </div>
  <% else %>
    <div class="icon-wrapper-idx d-flex align-items-center">
    <%= link_to actions_path(category: "digital"), class:"icon-tech" do %>
      <i class="fa-solid fa-computer fa-1x circle-icon"></i>
    <% end %>
  </div>
  <% end %>


<%# household %>

  <% if  params[:category] == "household"%>
    <div class="active-icon-wrapper-idx">
       <i class="fa-solid fa-house fa-2x circle-icon icon-home"></i>
    </div>
  <% else %>
   <div class="icon-wrapper-idx d-flex align-items-center">
    <%= link_to actions_path(category: "household"), class:"icon-home" do %>
      <i class="fa-solid fa-house fa-1x circle-icon"></i>
    <% end %>
  </div>
  <% end %>
</div>


<hr class="w-100 mb-4">

  <% @actions.each do |action|%>
    <div class="card-category-card mb-4" style="height: 27vh">
      <%= link_to action_path(action) do %>


        <div class= "card-img p-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url('<%= cl_image_path action.photo.key, height: 300, crop: :fit%>')">

        <% if action.category == 'transport' %>
          <div class="card-icon" style="background-color: rgb(216, 176, 77);">
            <i class="fa-solid fa-plane fa-1x circle-icon"></i>
          </div>
        <% elsif action.category == 'food' %>
          <div class="card-icon" style="background-color: rgb(164, 198, 99);">
            <i class="fa-solid fa-carrot fa-1x circle-icon"></i>
          </div>
        <% elsif action.category == 'numeric' %>
          <div class="card-icon" style="background-color: rgb(125, 156, 183);">
            <i class="fa-solid fa-computer fa-1x circle-icon"></i>
          </div>
        <% elsif action.category == 'home' %>
          <div class="card-icon" style="background-color: rgb(189, 96, 72);">
            <i class="fa-solid fa-house fa-1x circle-icon"></i>
          </div>
        <% end %>


          <div class="card-category-footer d-flex justify-content-between">
            <div class="d-flex justify-content-evenly card-category-co2">
              <% if action.category == 'transport' %>
                <i class="fa-solid fa-leaf pe-2" style="color: rgb(216, 176, 77);"></i>
                <p style="color: rgb(216, 176, 77);"><%= action.carbongain.div(1_000_000) %> kgCO2e</p>
              <% elsif action.category == 'food' %>
                <i class="fa-solid fa-leaf pe-2" style="color: rgb(164, 198, 99);"></i>
                <p style="color: rgb(164, 198, 99);"><%= action.carbongain.div(1_000_000) %> kgCO2e</p>
              <% elsif action.category == 'numeric' %>
                <i class="fa-solid fa-leaf pe-2" style="color: rgb(125, 156, 183);"></i>
                <p style="color: rgb(125, 156, 183);"><%= action.carbongain.div(1_000_000) %> kgCO2e</p>
              <% elsif action.category == 'household' %>
                <i class="fa-solid fa-leaf pe-2" style="color: rgb(189, 96, 72);"></i>
                <p style="color: rgb(189, 96, 72);"><%= action.carbongain.div(1_000_000) %> kgCO2e</p>
              <% end %>
            </div>
          </div>


        </div>
        <% if action.category == 'transport' %>
          <div class="card-bar-separator mb-1" style="background-color: rgb(216, 176, 77);"></div>
        <% elsif action.category == 'food' %>
          <div class="card-bar-separator mb-1" style="background-color: rgb(164, 198, 99);"></div>
        <% elsif action.category == 'numeric' %>
          <div class="card-bar-separator mb-1" style="background-color: rgb(125, 156, 183);"></div>
        <% elsif action.category == 'household' %>
          <div class="card-bar-separator mb-1" style="background-color: rgb(189, 96, 72);"></div>
        <% end %>
        <div class="container pt-2">
          <% if action.title.length > 40 %>
            <h1 style="font-size: small;"><strong><%= action.title %></strong></h1>
          <% else %>
            <h1><strong><%= action.title %></strong></h1>
          <% end %>
        <% if action.category == 'transport' %>
          <h4 style="color: rgb(216, 176, 77);"><%= action.level %></h4>
        <% elsif action.category == 'food' %>
          <h4 style="color: rgb(164, 198, 99);"><%= action.level %></h4>
        <% elsif action.category == 'numeric' %>
          <h4 style="color: rgb(125, 156, 183);"><%= action.level %></h4>
        <% elsif action.category == 'household' %>
          <h4 style="color: rgb(189, 96, 72);"><%= action.level %></h4>
        <% end %>
          <div class="">
            <% if action.description.length > 150 %>
              <p style="font-size: small; color: rgb(102, 102, 102);"><%= action.description[0..150] %> ...</p>
            <% else %>
              <p style="font-size: small; color: rgb(102, 102, 102);"><%= action.description %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
