<div class= "card-img p-2 card-view-h300 " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url('<%= cl_image_path @action.photo.key, height: 800, crop: :fit%>')">
</div>

<div class="action-show-card mx-auto position-relative">
  <div class="d-flex col-12 justify-content-between mt-3 mb-5">
    <% if @action.category == 'transport' %>
      <div class="show-icon-container d-flex justify-content-around align-items-center" style="background-color: rgb(216, 176, 77);">
        <i class="fa-solid fa-plane"></i>
      </div>
    <% elsif @action.category == 'food' %>
      <div class="show-icon-container d-flex justify-content-around align-items-center" style="background-color: rgb(164, 198, 99);">
        <i class="fa-solid fa-carrot"></i>
      </div>
    <% elsif @action.category == 'numeric' %>
      <div class="show-icon-container d-flex justify-content-around align-items-center" style="background-color: rgb(125, 156, 183);">
        <i class="fa-solid fa-computer"></i>
      </div>
    <% elsif @action.category == 'household' %>
      <div class="show-icon-container d-flex justify-content-around align-items-center" style="background-color: rgb(189, 96, 72);">
        <i class="fa-solid fa-household"></i>
      </div>
    <% end %>
    <% if @action.carbongain.div(1_000_000)>= 100 %>
      <div class="d-flex col-4 justify-content-between">
    <% else %>
      <div class="d-flex col-3 justify-content-between">
    <% end %>
    <div class="w-100">
      <div class="d-flex justify-content-evenly align-items-center card-show-co2 w-100">
        <% if @action.category == 'transport' %>
          <i class="fa-solid fa-leaf pe-2" style="color: rgb(216, 176, 77);"></i>
          <p style="color: rgb(216, 176, 77);"><%= @action.carbongain.div(1_000_000) %> kgCO2e</p>
        <% elsif @action.category == 'food' %>
          <i class="fa-solid fa-leaf pe-2" style="color: rgb(164, 198, 99);"></i>
          <p style="color: rgb(164, 198, 99);"><%= @action.carbongain.div(1_000_000) %> kgCO2e</p>
        <% elsif @action.category == 'numeric' %>
          <i class="fa-solid fa-leaf pe-2" style="color: rgb(125, 156, 183);"></i>
          <p style="color: rgb(125, 156, 183);"><%= @action.carbongain.div(1_000_000) %> kgCO2e</p>
        <% elsif @action.category == 'household' %>
          <i class="fa-solid fa-leaf pe-2" style="color: rgb(189, 96, 72);"></i>
          <p style="color: rgb(189, 96, 72);"><%= @action.carbongain.div(1_000_000) %> kgCO2e</p>
        <% end %>
      </div>
      <% if @action.category == 'transport' %>
        <div class="card-show-level mt-2 w-75 ms-auto" style="background-color: rgb(216, 176, 77);">
          <p style="font-size: smaller; text-align: center;"><%= @action.score %> pts</p>
        </div>
      <% elsif @action.category == 'food' %>
        <div class="card-show-level mt-2 w-75 ms-auto" style="background-color: rgb(164, 198, 99);">
          <p style="font-size: smaller; text-align: center;"><%= @action.score %> pts</p>
        </div>
      <% elsif @action.category == 'numeric' %>
        <div class="card-show-level mt-2 w-75 ms-auto" style="background-color: rgb(125, 156, 183);">
          <p style="font-size: smaller; text-align: center;"><%= @action.score %> pts</p>
        </div>
      <% elsif @action.category == 'household' %>
        <div class="card-show-level mt-2 w-75 ms-auto" style="background-color: rgb(189, 96, 72);">
          <p style="font-size: smaller; text-align: center;"><%= @action.score %> pts</p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <h1><strong><%= @action.title %></strong></h1> <!-- action title-->
  <% if @action.category == 'transport' %>
    <h4 style="color: rgb(216, 176, 77);" class="mb-3"><%= @action.level %></h4>
  <% elsif @action.category == 'food' %>
    <h4 style="color: rgb(164, 198, 99);" class="mb-3"><%= @action.level %></h4>
  <% elsif @action.category == 'numeric' %>
    <h4 style="color: rgb(125, 156, 183);" class="mb-3"><%= @action.level %></h4>
  <% elsif @action.category == 'household' %>
    <h4 style="color: rgb(189, 96, 72);" class="mb-3"><%= @action.level %></h4>
  <% end %>
  <strong><p class=" mb-1"> <%= @action.description %></p></strong>
  <p class="mb-4 ml-3" style="color: rgb(102, 102, 102);"><%= @action.explication %></p>
  <%= simple_form_for [@action, @user_action], html: {class: "col-12 d-flex justify-content-between"} do |f| %>
    <%= f.input :status, as: :hidden, input_html: {"value": "selected" } %>
    <%= f.input :score, as: :hidden, input_html: {"value": @action.score } %>
    <%= f.input :action_id, as: :hidden, input_html: {"value": @action.id } %>
    <%= f.input :category, as: :hidden, input_html: {"value": @action.category } %>
    <%= f.input :title, as: :hidden, input_html: {"value": @action.title } %>
    <%= f.input :carbongain, as: :hidden, input_html: {"value": @action.carbongain } %>
    <%= f.submit "Add this action", class: "col-10 btn btn-done " %>
  <% end %>
</div>
