<img src="https://picsum.photos/450/300" alt="" class="mb-4" style="width: 100%">

<div class="action-show-card mx-auto position-relative">
  <div class="d-flex col-12 justify-content-between mt-3 mb-5">
    <div class="show-icon-container d-flex justify-content-around align-items-center ">
        <i class="fa-solid fa-plane"></i>
      </div>
      <div class="d-flex col-7 justify-content-between">
        <div class="d-flex justify-content-evenly align-items-center card-show-co2">
          <i class="fa-solid fa-leaf"></i>
          <p class="">0kg/ CO2</p>
        </div>
        <div class="col-5">
          <div class="card-show-level d-flex justify-content-around align-items-center mb-2">
            <p><%= @action.level %></p>
          </div>
          <p style="font-size: smaller; text-align: end;">Score: <%= @action.score %></p>
        </div>
      </div>
  </div>
  <h1><strong><%= @action.title %></strong></h1> <!-- user_action title-->
  <h4 style="color: rgb(216, 176, 77);" class="mb-3"><%= @action.occurences %> times / week</h4><!-- action occurences-->
  <strong><p class=" mb-1"> <%= @action.description %></p></strong>
  <p class="mb-4 ml-3" style="color: rgb(102, 102, 102);">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae!</p>
  <%= simple_form_for ([@action, @user_action]) do |f| %>
    <%= f.input :action_id, as: :hidden, input_html:{ value: @action.id }%>
    <%= f.input :category, as: :hidden, input_html:{ value: @action.category }%>
    <%= f.input :title, as: :hidden, input_html:{ value: @action.title }%>
    <%= f.input :score, as: :hidden, input_html:{ value: @action.score }%>
    <%= f.submit "take this action", class: "col-10 btn btn-done" %>
  <% end %>

</div>
