<div class="bk-white">
  <div id="header" class="d-flex justify-content-around align-items-center">
  <%# ICON %>
   <i class="fa-solid fa-leaf"></i>
  <%# TITRE %>
  <h1 class="title_landing">Fuckhoomans</h1>
  </div>
</div>


  <%= simple_form_for @carbon_assessment, defaults: {label: false} do |f| %>
  <%# Transport %>
    <div class="icon-wrapper margin-top-form">
      <div class="card-bar-separator-form-plane" style="background-color: rgb(216, 176, 77);">
        <%= link_to actions_path(category: "transport"), class:"icon-travel" do %>
          <i class="fa-solid fa-plane fa-1x circle-icon"></i>
        <% end %>
      </div>
    </div>
    <div class="container p-3">
      <%# <%= f.label("bike") %>
      <div class="col-12 d-flex justify-content-between align-items-center mt-5">
        <p><strong>bike</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :bike, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p><strong>bus</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :bus, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p><strong>plane</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :plane, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p><strong>car</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :car, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
    </div>
    </br>
  <%# Digital %>
    </br>
    <div class="icon-wrapper">
      <div class="card-bar-separator-form-tech mb-1" style="background-color: rgb(125, 156, 183);">
        <%= link_to actions_path(category: "digital"), class:"icon-tech" do %>
          <i class="fa-solid fa-computer fa-1x circle-icon"></i>
        <% end %>
      </div>
    </div>
    <div class="container p-3">
      <div class="col-12 d-flex justify-content-between align-items-center mt-5">
        <p><strong>email</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :email, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p><strong>streaming</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :streaming, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p><strong>devise</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :devise, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p><strong>second hand</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :second_hand, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
    </div>
    </br>
    <%# Food %>
    </br>
    <div class="icon-wrapper">
      <div class="card-bar-separator-form-food mb-1" style="background-color: rgb(164, 198, 99);">
        <%= link_to actions_path(category: "food"), class:"icon-food" do %>
          <i class="fa-solid fa-carrot fa-1x circle-icon"></i>
        <% end %>
      </div>
    </div>
    <div class="container p-3">
      <div class="col-12 d-flex justify-content-between align-items-center mt-5">
        <p><strong>red meat</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :red_meat, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p><strong>white meat</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :white_meat, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p><strong>oil</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :oil, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <p><strong>dairy</strong></p>
        <div>
          <div class="d-flex justify-content-between">
            <p>low</p>
            <p>medium</p>
            <p>high</p>
          </div>
          <%= f.input :dairy, input_html:{ type:"range", class:"form-range mx-2", min:"1", max:"3", id:"customRange2"}%>
        </div>
      </div>
    </div>
    </br>
  <%# Household %>
    <div class="icon-wrapper">
      <div class="card-bar-separator-form-household mb-1" style="background-color: rgb(189, 96, 72);">
        <%= link_to actions_path(category: "household"), class:"icon-household" do %>
          <i class="fa-solid fa-home fa-1x circle-icon"></i>
        <% end %>
      </div>
    </div>
    <div class="p-3">
      <div class="w-100 d-flex justify-content-center align-items-center" style="height: 25vh">
        <h2 style="color: rgb(168, 168, 168);">Temporary Unavailable</h2>
      </div>
    </div>
  <% end %>
