<div class="container">

<%= simple_form_for @carbon_assessment do |f| %>
<%# Transport %>
  <div class="icon-wrapper">
    <%= link_to actions_path(category: "transport"), class:"icon-travel" do %>
      <i class="fa-solid fa-plane fa-1x circle-icon"></i>
    <% end %>
  </div>
  </br>
  <%# <%= f.label("bike") %>
  <%= f.input :bike, input_html:{  }%>
  <%= f.input :bus, input_html:{ }%>
  <%= f.input :plane, input_html:{  }%>
  <%= f.input :car, input_html:{  }%>
  </br>
<%# Digital %>
  <div class="icon-wrapper">
    <%= link_to actions_path(category: "food"), class:"icon-food" do %>
      <i class="fa-solid fa-carrot fa-1x circle-icon"></i>
    <% end %>
  </div>
  </br>
  <%= f.input :email, input_html:{  }%>
  <%= f.input :streaming, input_html:{ }%>
  <%= f.input :devise, input_html:{  }%>
  <%= f.input :second_hand, input_html:{  }%>
  </br>
<%# Food %>
  <div class="icon-wrapper">
    <%= link_to actions_path(category: "digital"), class:"icon-tech" do %>
      <i class="fa-solid fa-computer fa-1x circle-icon"></i>
    <% end %>
  </div>
  </br>
  <%= f.input :red_meat, input_html:{  }%>
  <%= f.input :white_meat, input_html:{ }%>
  <%= f.input :oil, input_html:{  }%>
  <%= f.input :dairy, input_html:{  }%>
  </br>
<%# Household %>
  <div class="icon-wrapper">
    <%= link_to actions_path(category: "household"), class:"icon-home" do %>
      <i class="fa-solid fa-house fa-1x circle-icon"></i>
    <% end %>
  </div>
  </br>
  <%= f.input :house_size, input_html:{  }%>
  <%= f.input :house_heated, input_html:{ }%>
  <%= f.input :renewable_energy, input_html:{  }%>
  <%= f.input :people_number, input_html:{  }%>

  <div class="d-flex justify-content-center">
    <%= f.submit "generate my profil", class: "col-10 btn btn-done" %>
  </div>
<% end %>

</div>
